@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your global styles or styles for the same file */
.custom-scrollbar-hidden {
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

.custom-scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
